<div class="additional-content" id="additionalContent">
    <h2>Công dụng của Serum Caryophy Portulaca Ampoule trị mụn, trị thâm:</h2>
    <p><strong>Serum Caryophy Portulaca Ampoule</strong> với 10ml các tinh chất, dưỡng chất có lợi
        cho da với các công dụng như sau:</p>
    <p>- Điều trị tất cả các loại mụn: mụn trứng cá, mụn viêm, mụn đầu đen, mụn cám, mụn ẩn…</p>
    <p>- Giảm sưng viêm, đỏ ửng chỉ sau 1 đêm sử dụng.</p>
    <p>- Hỗ trợ điều trị vết thâm, tái tạo và giữ ẩm cho làn da.</p>
    <p>- Nâng cao sức đề kháng, phục hồi làn da và chống lão hóa.</p>
    <p>- Không tác dụng phụ, dị ứng, khô và bong tróc da khi sử dụng.</p>

    <h2>Hướng dẫn sử dụng: Serum Caryophy Portulaca Ampoule trị mụn, trị thâm hiệu quả:</h2>
    <p>Để sử dụng <strong>Serum Caryophy Portulaca Ampoule</strong> trị mụn, trị thâm một cách hiệu
        quả nhất nên:</p>
    <p>- Sử dụng sau bước Tẩy trang, Sữa rửa mặt và Toner.</p>
    <p>- Lấy lượng Serum vừa đủ (khoảng 1 – 2 giọt) cho ra tay và xoa đều khắp mặt. Hoặc nhỏ 1 – 2
        giọt trực tiếp vào mặt và vùng da bị mụn và xoa đều khắp mặt.</p>
    <p>- Massage nhẹ nhàng để tinh chất thấm sâu vào da.</p>
    <p>- Tránh để sản phẩm dính vào vùng mắt.</p>
    <p>- Sản phẩm phù hợp để sử dụng hàng ngày.</p>

    <h2>Lưu ý:</h2>
    <p>- Trước khi thoa <strong>Serum trị mụn Caryophy,</strong> hãy làm sạch da thật kỹ với
        <strong>Nước tẩy trang, Sữa rửa mặt</strong> và <strong>Toner.</strong></p>
    <p>- Kết hợp massage khi thoa <strong>tinh chất trị mụn</strong> để dưỡng chất thẩm thấu sâu vào
        da để đạt hiệu quả rút ngắn thời gian trị mụn, trị thâm.</p>
    <p>- Khuyến khích sử dụng <strong>Serum Caryophy Portulaca Ampoule</strong> cùng với <strong>bộ
            sản phẩm trị mụn, trị thâm Caryophy</strong> thường xuyên để duy trì làn da khoẻ mạnh
        không mụn, không thâm.</p>

    <h2>THÀNH PHẦN CHÍNH</h2>
    <p><strong>Serum trị mụn Caryophy Portulaca Ampoule</strong> với các thành phần thiên nhiên an
        toàn và có lợi cho da như sau:</p>
    <p>- <strong>Tinh Chất Rau Má:</strong> loại rau dược tính, thường được sử dụng trong mỹ phẩm
        với nhiệm vụ chữa lành da mụn. Là thành phần trị mụn, làm mờ sẹo thâm hiệu quả. Tái tạo tế
        bào giúp da nhanh chóng phục hồi và làm lành vết thương bởi các hoạt chất axit asiatic, axit
        brahmic. Ngoài ra, vitamin B2, B3, C, K… trong rau má còn giúp làm tăng sản sinh collagen
        giúp làn da tươi trẻ, sáng mịn.</p>
    <p>- <strong>Tinh chất Rau Sam:</strong> được xem là thần dược với nhiệm vụ dưỡng trắng, bổ sung
        nhiều vitamin A, B1, B2, C giúp kháng khuẩn, kháng viêm. Thành phần có trong rau sam như
        gallotannin, omega-3, axit ascorbic… làm giảm tổn thương do mụn gây ra.</p>
    <p>- <strong>Lá Nhân Trần:</strong> có tác dụng giải độc, tiêu viêm, điều trị da kích ứng, làm
        đều màu da và đem lại cho làn da sự mịn màng.</p>
    <p>Ngoài ra, <strong>Serum Caryophy</strong> trị mụn, trị thâm còn có các thành phần khác như:
        Glycerin, Caprylyl Glycol, Butylene Glycol, Citric Acid, Sodium Citrate, Madecassoside,
        chiết xuất sả (Lemon Grass Extract), chiết xuất hoa Cúc La Mã (Chamomile Flower Extract)…
        đều là những thành phần rất tốt với vai trò giữ ẩm, kháng viêm và làm dịu da mụn tổn thương.
    </p>
</div>

<div class="hienthi">
    <button onclick="toggleContent()" id="toggleButton">
        Hiển thị thêm
    </button>
</div>