<h2>Serum Caryophy Portulaca Ampoule là sản phẩm gì?</h2>
<p><i class="fa-solid fa-check fa-xl" style="color: #15602f;"></i><strong>Serum Caryophy Portulaca
        Ampoule</strong> là Serum Hàn Quốc 3 trong 1 gồm trị mụn, trị thâm, dưỡng ẩm, phục hồi da
    và
    chống lão hóa toàn diện.</p>
<p><i class="fa-solid fa-check fa-xl" style="color: #15602f;"></i><strong>Serum Caryophy</strong>
    thiết
    kế nhỏ gọn trong lọ thuỷ tinh với dung tích 10ml kèm hộp giấy đi kèm giúp bảo quản tốt hơn,
    tránh bị
    oxy hoá khi không dùng hết và tiện lợi mang theo bên mình mọi lúc mọi nơi.</p>
<p><i class="fa-solid fa-check fa-xl" style="color: #15602f;"></i><strong>Serum trị mụn
        Caryophy</strong> với các thành phần 100% thiên nhiên, an toàn và phù hợp với mọi loại da:
    Da
    thường, Da dầu, Da hỗn hợp, Da khô, Da nhạy cảm, Da mụn.</p>
<div class="img">
    <img width="400px" height="400px" src="/img/adve-1.jpg" alt="">
</div>         
