<div class="list-product">
    <div class="list-product-title">
      <span>DANH MỤC SẢN PHẨM</span>
    </div>
    <div class="list-product-main">
      <ul>
        <li><a href=""><i class="fa-solid fa-angles-right fa-xs" style="color: #146119;"></i>Kem dưỡng ẩm</a></li>
        <li><a href=""><i class="fa-solid fa-angles-right fa-xs" style="color: #146119;"></i>Sữa rửa mặt</a></li>
        <li><a href=""><i class="fa-solid fa-angles-right fa-xs" style="color: #146119;"></i>Serum Caryophy</a></li>
        <li><a href=""><i class="fa-solid fa-angles-right fa-xs" style="color: #146119;"></i>Toner</a></li>
        <li><a href=""><i class="fa-solid fa-angles-right fa-xs" style="color: #146119;"></i>Kem chống nắng</a></li>
        <li><a href=""><i class="fa-solid fa-angles-right fa-xs" style="color: #146119;"></i>Tẩy trang</a></li>
        <li><a href=""><i class="fa-solid fa-angles-right fa-xs" style="color: #146119;"></i>Tẩy da chết</a></li>
        <li><a href=""><i class="fa-solid fa-angles-right fa-xs" style="color: #146119;"></i>Mặt nạ</a></li>
        <li><a href=""><i class="fa-solid fa-angles-right fa-xs" style="color: #146119;"></i>Dưỡng trắng body</a></li>
        <li class="li-end"><a href=""><i class="fa-solid fa-angles-right fa-xs" style="color: #146119;"></i>Xịt mụn lưng</a></li>
      </ul>
    </div>
    <div class="advise">
        <div class="list-product-title">
            <span>ĐẶT LỊCH TƯ VẤN</span>
        </div>
        <div class="advise-main">
            <form action="">
                <input class="input-text" type="text" placeholder="Họ và tên" required>
                <input class="input-text" type="text" placeholder="Email (số điện thoại)" required>
                <textarea name="" class="text-area" placeholder="Nội dung." required></textarea> <br>
                <input class="sbm" type="submit" value="Đặt lịch">
            </form>
        </div>
    </div>
  </div>
  