<section class="slider-product-one">
    <div class="container">
        <div class="slider-product-one-content">
            <div class="slider-product-one-content-title">
                <h2>SẢN PHẨM LIÊN QUAN</h2>
            </div>
            <div class="slider-product-one-content-container">
                <div class="slider-product-one-content-items-content">
                    <div class="slider-product-one-content-items">
                        <div class="slider-product-one-content-item">
                            <div class="slider-product-one-content-item-item">
                                <div class="top-img">
                                    <a href="#"><img src="/img/lq1.png" alt=""></a>
                                    <span class="discount-circle">-25%</span>
                                    <span class="add-product"><i
                                            class="fa-solid fa-cart-plus fa-beat-fade fa-xl"
                                            style="color: #094410;"></i></span>
                                </div>
                                <div class="top-box-text">
                                    <a href="#">
                                        <p>Serum mụn Caryophy 30ml</p>
                                    </a>
                                    <ins> <span>490.000đ </span></ins>
                                    <del> <span>650.000đ</span></del> <br>
                                    <div class="dathang">
                                        <a href="#" class="chitiet">Mua hàng</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="slider-product-one-content-item">
                            <div class="top-img">
                                <a href="#"><img src="/img/lq2.png" alt=""></a> <span
                                    class="discount-circle">-37%</span>
                                <span class="add-product"><i
                                        class="fa-solid fa-cart-plus fa-beat-fade fa-xl"
                                        style="color: #094410;"></i></span>
                            </div>

                            <div class="top-box-text">
                                <a href="#">
                                    <p>Xịt trị mụn toàn thân Body Mist 150ml</p>
                                </a>
                                <ins> <span>349.000đ </span></ins>
                                <del> <span>550.000đ</span></del> <br>
                                <div class="dathang">
                                    <a href="#" class="chitiet">Mua hàng</a>
                                </div>
                            </div>

                        </div>
                        <div class="slider-product-one-content-item">
                            <div class="top-img">
                                <a href="#"><img src="/img/lq3.png" alt=""></a> <span
                                    class="discount-circle">-23%</span>
                                <span class="add-product"><i
                                        class="fa-solid fa-cart-plus fa-beat-fade fa-xl"
                                        style="color: #094410;"></i></span>
                            </div>

                            <div class="top-box-text">
                                <a href="#">
                                    <p>Kem chống nắng thông minh Caryophy Smart Sunscreen Tone Up
                                        50ml
                                    </p>
                                </a>
                                <ins> <span>279.000đ </span></ins>
                                <del> <span>360.000đ</span></del> <br>
                                <div class="dathang">
                                    <a href="#" class="chitiet">Mua hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-product-one-content-items">
                        <div class="slider-product-one-content-item">
                            <div class="top-img">
                                <a href="#"><img src="/img/lq4.jpg" alt=""></a> <span
                                    class="discount-circle">-25%</span>
                                <span class="add-product"><i
                                        class="fa-solid fa-cart-plus fa-beat-fade fa-xl"
                                        style="color: #094410;"></i></span>
                            </div>
                            <div class="top-box-text">
                                <a href="#">
                                    <p>Serum mụn Caryophy 30ml</p>
                                </a>
                                <ins> <span>490.000đ </span></ins>
                                <del> <span>650.000đ</span></del> <br>
                                <div class="dathang">
                                    <a href="#" class="chitiet">Mua hàng</a>
                                </div>
                            </div>
                        </div>

                        <div class="slider-product-one-content-item">
                            <div class="top-img">
                                <a href="#"><img src="/img/lq5.jpg" alt=""></a> <span
                                    class="discount-circle">-37%</span>
                                <span class="add-product"><i
                                        class="fa-solid fa-cart-plus fa-beat-fade fa-xl"
                                        style="color: #094410;"></i></span>
                            </div>

                            <div class="top-box-text">
                                <a href="#">
                                    <p>Xịt trị mụn toàn thân Body Mist 150ml</p>
                                </a>
                                <ins> <span>349.000đ </span></ins>
                                <del> <span>550.000đ</span></del> <br>
                                <div class="dathang">
                                    <a href="#" class="chitiet">Mua hàng</a>
                                </div>
                            </div>

                        </div>
                        <div class="slider-product-one-content-item">
                            <div class="top-img">
                                <a href="#"><img src="/img/lq6.png" alt=""></a> <span
                                    class="discount-circle">-23%</span>
                                <span class="add-product"><i
                                        class="fa-solid fa-cart-plus fa-beat-fade fa-xl"
                                        style="color: #094410;"></i></span>
                            </div>

                            <div class="top-box-text">
                                <a href="#">
                                    <p>Kem chống nắng thông minh Sunscreen Tone Up 50ml</p>
                                </a>
                                <ins> <span>279.000đ </span></ins>
                                <del> <span>360.000đ</span></del> <br>
                                <div class="dathang">
                                    <a href="#" class="chitiet">Mua hàng</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="slider-product-one-content-items">
                        <div class="slider-product-one-content-item">
                            <div class="top-img">
                                <a href="#"><img src="/img/lq7.png" alt=""></a> <span
                                    class="discount-circle">-25%</span>
                                <span class="add-product"><i
                                        class="fa-solid fa-cart-plus fa-beat-fade fa-xl"
                                        style="color: #094410;"></i></span>
                            </div>
                            <div class="top-box-text">
                                <a href="#">
                                    <p>Toner Caryophy Portulaca 50ml</p>
                                </a>
                                <ins> <span>79.000đ </span></ins>
                                <del> <span>200.000đ</span></del> <br>
                                <div class="dathang">
                                    <a href="#" class="chitiet">Mua hàng</a>
                                </div>
                            </div>
                        </div>

                        <div class="slider-product-one-content-item">
                            <div class="top-img">
                                <a href="#"><img src="/img/lq8.png" alt=""></a> <span
                                    class="discount-circle">-37%</span>
                                <span class="add-product"><i
                                        class="fa-solid fa-cart-plus fa-beat-fade fa-xl"
                                        style="color: #094410;"></i></span>
                            </div>

                            <div class="top-box-text">
                                <a href="#">
                                    <p>Caryophy Portulaca 300ml</p>
                                </a>
                                <ins> <span>349.000đ </span></ins>
                                <del> <span>500.000đ</span></del> <br>
                                <div class="dathang">
                                    <a href="#" class="chitiet">Mua hàng</a>
                                </div>
                            </div>

                        </div>
                        <div class="slider-product-one-content-item">
                            <div class="top-img">
                                <a href="#"><img src="/img/lq9.png" alt=""></a> <span
                                    class="discount-circle">-23%</span>
                                <span class="add-product"><i
                                        class="fa-solid fa-cart-plus fa-beat-fade fa-xl"
                                        style="color: #094410;"></i></span>
                            </div>

                            <div class="top-box-text">
                                <a href="#">
                                    <p>Mặt nạ Caryophy Portulaca Mask Sheet</p>
                                </a>
                                <ins> <span>329.000đ </span></ins>
                                <del> <span>490.000đ</span></del> <br>
                                <div class="dathang">
                                    <a href="#" class="chitiet">Mua hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-product-one-content-btn">
                    <i class="fas fa-chevron-left fa-chevron-left-two"></i>
                    <i class="fas fa-chevron-right fa-chevron-right-two"></i>
                </div>
            </div>
        </div>
    </div>
</section>