<%- include('partials/index', { title: 'Contact', cssFileName: 'contact' }) %>
<div class="body">
    <div class="content">
        <div class="content-left">
            <h2 id="title">Công ty TNHH mỹ phẩm</h2>
            <p>MST: 010670888 do Sở KH và ĐT Hà Nội cấp ngày 08/12/2014</p>
            <p>Emaill: se.anh.nguyenduc@gmail.com</p>
            <p>Hotline: 098.1402.765</p>
            <p>Website: charmybeauty.com</p>
        </div>
        <div class="content-right">
            <h2 id="title">Liên hệ</h2>
            <form action="">
                <label for="">Họ và tên</label> <br>
                <input type="text" class="i-text" required> <br>
                <label for="">Email</label> <br>
                <input type="text" class="i-text" required> <br>
                <label for="">Nội dung</label> <br>
                <textarea name="" id="" required></textarea> <br>
                <input type="submit">
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
