<%- include('partials/index', { title: 'Buy Product' , cssFileName: 'index' }) %>
<div class="body">
  <!-- <section class="slider">
      <div class="container">
          <div class="slide-content">
              <div class="slide-content-left">
                  <div class="slide-content-left-container">
                      <div class="slide-content-left-top">
                          <a href=""> <img src="../img/SLIDE-1.png" alt=""></a>
                          <a href=""><img src="../img/SLIDE-2.png" alt=""></a>
                          <a href=""><img src="../img/SLIDE-3.png" alt=""></a>
                          <a href=""><img src="../img/SLIDE-4.png" alt=""></a> 
                          <a href=""><img src="../img/SLIDE-5.png" alt=""></a>
                       </div>
                       <div class="slide-content-left-top-btn">
                          <i class="fas fa-chevron-left"></i>
                          <i class="fas fa-chevron-right"></i>
                       </div>
                       <div class="pagination">
                          <span class="dot"></span>
                          <span class="dot"></span>
                          <span class="dot active"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                        </div>
                  </div>
                  
                 
              </div>
          </div>
      </div>

  </section> -->

  
  <!-- <div class="content-product">
      <div class="container section-title-container" >
          <h3>Danh mục sản phẩm</h3>
      </div>
      <div class="content">
          <div class="content-box1">
              <div class="content box-img">
                  <a href=""><img src="http://mypham10.maugiaodien.com/wp-content/uploads/2022/05/3.jpg" alt=""></a>
                  
              </div>
              <a href="">
                  <p>Serum Caryophy</p>
              </a>
          </div>

          <div class="content-box2">
              <div class="content box-img">
                  <a href=""><img src="http://mypham10.maugiaodien.com/wp-content/uploads/2022/05/3.jpg" alt=""></a>
              </div>
              <a href="">
                  <p>Serum Caryophy</p>
              </a>
          </div>
          <div class="content-box3">
              <div class="content box-img">
                  <a href=""><img src="http://mypham10.maugiaodien.com/wp-content/uploads/2022/05/3.jpg" alt=""></a>
              </div>
              <a href="">
                  <p>Serum Caryophy</p>
              </a>
          </div>
          <div class="content-box4">
              <div class="content box-img">
                  <a href=""><img src="http://mypham10.maugiaodien.com/wp-content/uploads/2022/05/3.jpg" alt=""></a>
              </div>
              <a href="">
                  <p>Serum Caryophy</p>
              </a>
          </div>
          <div class="content-box5">
              <div class="content box-img">
                  <a href=""><img src="http://mypham10.maugiaodien.com/wp-content/uploads/2022/05/3.jpg" alt=""></a>
              </div>
              <a href="">
                  <p>Serum Caryophy</p>
              </a>
          </div>
          <div class="content-box6">
              <div class="content box-img">
                  <a href=""><img src="http://mypham10.maugiaodien.com/wp-content/uploads/2022/05/3.jpg" alt=""></a>
              </div>
              <a href="">
                  <p>Serum Caryophy</p>
              </a>
          </div>
          <div class="content-box7">
              <div class="content box-img">
                  <a href=""><img src="http://mypham10.maugiaodien.com/wp-content/uploads/2022/05/3.jpg" alt=""></a>
              </div>
              <a href="">
                  <p>Serum Caryophy</p>
              </a>
          </div>
          <div class="content-box8">
              <div class="content box-img">
                  <a href=""><img src="http://mypham10.maugiaodien.com/wp-content/uploads/2022/05/3.jpg" alt=""></a>
              </div>
              <a href="">
                  <p>Serum Caryophy</p>
              </a>
          </div>
          <div class="content-box9">
              <div class="content box-img">
                  <a href=""><img src="http://mypham10.maugiaodien.com/wp-content/uploads/2022/05/3.jpg" alt=""></a>
              </div>
              <a href="">
                  <p>Serum Caryophy</p>
              </a>
          </div>
      </div> -->
  <!-- </div> -->
  
  <section class="product-home">
      <div class="back-groundd">
          <div class="title-topp">
             <!-- <span class="underline-one"></span> -->
             <h3 class="centered-text">SẢN PHẨM BÁN CHẠY</h3>
             <!-- <span class="underline-one"></span> -->
          </div>
          <div class="top">
              <div class="top-left">
                  <div class="top-img">
                      <a href="#"><img src="../img/sellingProducts-1.png" alt=""></a>
                      <span class="discount-circle">-25%</span>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Serum mụn Caryophy 30ml</p>
                      </a>
                      <ins> <span>490.000đ </span></ins>
                      <del> <span>650.000đ</span></del> <br>
                      <div class="dathang">
                          <a href="BuyProduct.html" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
              </div>
  
              <div class="top-center">
                  <div class="top-img">
                      <a href="#"><img src="../img/sellingProducts-2.png" alt=""></a>
                      <span class="discount-circle">-37%</span>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Xịt trị mụn toàn thân Caryophy Portulaca Body Mist 150ml</p>
                      </a>
                      <ins> <span>349.000đ </span></ins>
                      <del> <span>550.000đ</span></del> <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
                  
              </div>
              <div class="top-right">
                  <div class="top-img">
                      <a href="#"><img src="../img/sellingProducts-3.png" alt=""></a>
                      <span class="discount-circle">-23%</span>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Kem chống nắng thông minh Caryophy Smart Sunscreen Tone Up 50ml</p>
                      </a>
                      <ins> <span>279.000đ </span></ins>
                      <del> <span>360.000đ</span></del> <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
                 
              </div>
              <div class="top-right">
                  <div class="top-img">
                      <a href="#"><img src="../img/sellingProducts-3.png" alt=""></a>
                      <span class="discount-circle">-23%</span>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Kem chống nắng thông minh Caryophy Smart Sunscreen Tone Up 50ml</p>
                      </a>
                      <ins> <span>279.000đ </span></ins>
                      <del> <span>360.000đ</span></del> <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
                 
              </div>
              <div class="top-right">
                  <div class="top-img">
                      <a href="#"><img src="../img/sellingProducts-3.png" alt=""></a>
                      <span class="discount-circle">-23%</span>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Kem chống nắng thông minh Caryophy Smart Sunscreen Tone Up 50ml</p>
                      </a>
                      <ins> <span>279.000đ </span></ins>
                      <del> <span>360.000đ</span></del> <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
                 
              </div>

              <div class="top-right">
                  <div class="top-img">
                      <a href="#"><img src="../img/sellingProducts-4.png" alt=""></a>
                      <span class="discount-circle">-28%</span>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Nước tẩy trang thông minh Caryophy Smart Cleansing Water 500ml</p>
                      </a>
                      <ins> <span>360.000đ </span></ins>
                      <del> <span>500.000đ</span></del> <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>

      <!-- Sản phẩm mới -->
      <div class="back-ground">
          <div class="title-topp">
             <h3 class="centered-text"> SẢN PHẨM MỚI</h3>
          </div>
          <div class="top">
              <div class="top-left">
                  <div class="top-img">
                      <a href="#"><img src="../img/newProduct-1.jpg" alt=""></a>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Kem dưỡng ẩm và phục hồi Caryophy Smart Waterful Cream</p>
                      </a>
                          <span> <strong>Liên hệ</strong></span>
                       <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
              </div>
  
              <div class="top-center">
                  <div class="top-img">
                      <a href="#"><img src="../img/newProduct-2.jpg" alt=""></a>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Gel tẩy tế bào chết thông minh ngăn ngừa mụn Caryophy Smart</p>
                      </a>
                      <span> <strong>Liên hệ</strong></span>
                      <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
              </div>
              <div class="top-right">
                  <div class="top-img">
                      <a href="#"><img src="../img/newProduct-3.jpg" alt=""></a>
                      <span class="discount-circle">-20%</span>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Kem chống nắng thông minh Caryophy Smart Moist Sunscreen</p>
                      </a>
                      <ins> <span>360.000đ </span></ins>
                      <del> <span>450.000đ</span></del> <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
                  
              </div>
              <div class="top-right">
                  <div class="top-img">
                      <a href="#"><img src="../img/newProduct-4.jpg" alt=""></a>
                      <span class="discount-circle">-37%</span>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Xịt trị mụn toàn thân Caryophy Portulaca Body Mist 150ml</p>
                      </a>
                      <ins> <span>349.000đ </span></ins>
                      <del> <span>550.000đ</span></del> <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
              </div>  
              <div class="top-right">
                  <div class="top-img">
                      <a href="#"><img src="../img/newProduct-4.jpg" alt=""></a>
                      <span class="discount-circle">-37%</span>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Xịt trị mụn toàn thân Caryophy Portulaca Body Mist 150ml</p>
                      </a>
                      <ins> <span>349.000đ </span></ins>
                      <del> <span>550.000đ</span></del> <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
              </div>  
              <div class="top-right">
                  <div class="top-img">
                      <a href="#"><img src="../img/newProduct-4.jpg" alt=""></a>
                      <span class="discount-circle">-37%</span>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Xịt trị mụn toàn thân Caryophy Portulaca Body Mist 150ml</p>
                      </a>
                      <ins> <span>349.000đ </span></ins>
                      <del> <span>550.000đ</span></del> <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
              </div>  
              <div class="top-right">
                  <div class="top-img">
                      <a href="#"><img src="../img/newProduct-4.jpg" alt=""></a>
                      <span class="discount-circle">-37%</span>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Xịt trị mụn toàn thân Caryophy Portulaca Body Mist 150ml</p>
                      </a>
                      <ins> <span>349.000đ </span></ins>
                      <del> <span>550.000đ</span></del> <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
              </div>  
              
          </div>

          <div class="adver">
              <a href=""><img src="../img/Frame-1.png" alt=""></a>
          </div>
      </div>

      <!-- Sản phẩm trị mụn -->
      <div class="back-ground">
          <div class="title-topp">
             <h3 class="centered-text">SẢN PHẨM TRỊ MỤN</h3>
                  
             </div>
          </div>
          <div class="top">
              <div class="top-left">
                  <div class="top-img">
                      <a href="#"><img src="../img/acneTreatment-1.jpg" alt=""></a>
                      <span class="discount-circle">-20%</span>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Serum mụn Caryophy 10ml</p>
                      </a>
                      <ins> <span>279.000đ </span></ins>
                      <del> <span>350.000đ</span></del> <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
              </div>
  
              <div class="top-center">
                  <div class="top-img">
                      <a href="#"><img src="../img/acneTreatment-2.jpg" alt=""></a>
                      <span class="discount-circle">-33%</span>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Mặt nạ Caryophy Portulaca Mask Sheet trị mụn, trị thâm (hộp 10 miếng)</p>
                      </a>
                      <ins> <span>329.000đ </span></ins>
                      <del> <span>490.000đ</span></del> <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
                  
              </div>
              <div class="top-right">
                  <div class="top-img">
                      <a href="#"><img src="../img/acneTreatment-3.jpg" alt=""></a>
                      <span class="discount-circle">-37%</span>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Xịt trị mụn toàn thân Caryophy Portulaca Body Mist 150ml</p>
                      </a>
                      <ins> <span>349.000đ </span></ins>
                      <del> <span>550.000đ</span></del> <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
                 
              </div>
              <div class="top-right">
                  <div class="top-img">
                      <a href="#"><img src="../img/acneTreatment-4.jpg" alt=""></a>
                      <span class="discount-circle">-25%</span>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Serum mụn Caryophy 30ml</p>
                      </a>
                      <ins> <span>490.000đ </span></ins>
                      <del> <span>650.000đ</span></del> <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
                  
              </div>
              <div class="top-right">
                  <div class="top-img">
                      <a href="#"><img src="../img/acneTreatment-4.jpg" alt=""></a>
                      <span class="discount-circle">-25%</span>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Serum mụn Caryophy 30ml</p>
                      </a>
                      <ins> <span>490.000đ </span></ins>
                      <del> <span>650.000đ</span></del> <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
                  
              </div>
              <div class="top-right">
                  <div class="top-img">
                      <a href="#"><img src="../img/acneTreatment-4.jpg" alt=""></a>
                      <span class="discount-circle">-25%</span>
                      <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                  </div>
                  <div class="top-box-textt">
                      <a href="#">
                          <p>Serum mụn Caryophy 30ml</p>
                      </a>
                      <ins> <span>490.000đ </span></ins>
                      <del> <span>650.000đ</span></del> <br>
                      <div class="dathang">
                          <a href="#" class="chitiet">Mua hàng</a>
                      </div>
                  </div>
                  
              </div>
          </div>

          <div class="adver">
              <a href=""><img src="../img/Frame-2.png" alt=""></a>
          </div>

          <!-- sản phẩm làm sạch -->
          <div class="back-ground">
              <div class="title-topp">
                 <h3 class="centered-text">SẢN PHẨM LÀM SẠCH</h3>
              </div>
              <div class="top">
                  <div class="top-left">
                      <div class="top-img">
                          <a href="#"><img src="../img/cleaningProducts-1.png" alt=""></a>
                          <span class="discount-circle">-20%</span>
                          <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                      </div>
                      <div class="top-box-textt">
                          <a href="#">
                              <p>Serum mụn Caryophy 10ml</p>
                          </a>
                          <ins> <span>279.000đ </span></ins>
                          <del> <span>350.000đ</span></del> <br>
                          <div class="dathang">
                              <a href="#" class="chitiet">Mua hàng</a>
                          </div>
                      </div>
                  </div>
      
                  <div class="top-center">
                      <div class="top-img">
                          <a href="#"><img src="../img/cleaningProducts-2.png" alt=""></a>
                          <span class="discount-circle">-33%</span>
                          <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                      </div>
                      <div class="top-box-textt">
                          <a href="#">
                              <p>Mặt nạ Caryophy Portulaca Mask Sheet trị mụn, trị thâm (hộp 10 miếng)</p>
                          </a>
                          <ins> <span>329.000đ </span></ins>
                          <del> <span>490.000đ</span></del> <br>
                          <div class="dathang">
                              <a href="#" class="chitiet">Mua hàng</a>
                          </div>
                      </div>
                     
                  </div>
                  <div class="top-right">
                      <div class="top-img">
                          <a href="#"><img src="../img/cleaningProducts-3.png" alt=""></a>
                          <span class="discount-circle">-37%</span>
                          <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                      </div>
                      <div class="top-box-textt">
                          <a href="#">
                              <p>Xịt trị mụn toàn thân Caryophy Portulaca Body Mist 150ml</p>
                          </a>
                          <ins> <span>349.000đ </span></ins>
                          <del> <span>550.000đ</span></del> <br>
                          <div class="dathang">
                              <a href="#" class="chitiet">Mua hàng</a>
                          </div>
                      </div>
                     
                  </div>
                  <div class="top-right">
                      <div class="top-img">
                          <a href="#"><img src="../img/cleaningProducts-4.png" alt=""></a>
                          <span class="discount-circle">-25%</span>
                          <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                      </div>
                      <div class="top-box-textt">
                          <a href="#">
                              <p>Serum mụn Caryophy 30ml</p>
                          </a>
                          <ins> <span>490.000đ </span></ins>
                          <del> <span>650.000đ</span></del> <br>
                          <div class="dathang">
                              <a href="#" class="chitiet">Mua hàng</a>
                          </div>
                      </div>
                      
                  </div>
                  <div class="top-right">
                      <div class="top-img">
                          <a href="#"><img src="../img/cleaningProducts-4.png" alt=""></a>
                          <span class="discount-circle">-25%</span>
                          <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                      </div>
                      <div class="top-box-textt">
                          <a href="#">
                              <p>Serum mụn Caryophy 30ml</p>
                          </a>
                          <ins> <span>490.000đ </span></ins>
                          <del> <span>650.000đ</span></del> <br>
                          <div class="dathang">
                              <a href="#" class="chitiet">Mua hàng</a>
                          </div>
                      </div>
                      
                  </div>
                  <div class="top-right">
                      <div class="top-img">
                          <a href="#"><img src="../img/cleaningProducts-4.png" alt=""></a>
                          <span class="discount-circle">-25%</span>
                          <span class="add-product"><i class="fa-solid fa-cart-plus fa-beat-fade fa-xl" style="color: #094410;"></i></span>
                      </div>
                      <div class="top-box-textt">
                          <a href="#">
                              <p>Serum mụn Caryophy 30ml</p>
                          </a>
                          <ins> <span>490.000đ </span></ins>
                          <del> <span>650.000đ</span></del> <br>
                          <div class="dathang">
                              <a href="#" class="chitiet">Mua hàng</a>
                          </div>
                      </div>
                      
                  </div>
              </div>

              
              </div>
</div>
<script src="/js/buy_product.js"></script>
<%- include('partials/footer') %>