
<%- include('partials/index', { title: 'Introduce', cssFileName: 'introduce' }) %>
<div class="body-introduce">
    <h3><strong>Caryophy – Tinh hoa thiên nhiên nuôi dưỡng làn da bạn</strong></h3>
    <p><strong>Caryophy</strong> được biết đến là thương hiệu làm đẹp nổi tiếng tại Hàn Quốc, được đông đảo phái đẹp “xứ kim chi” lựa chọn sử dụng mỗi ngày. Các sản phẩm tại đây được nghiên cứu kỹ lưỡng và sản xuất trong môi trường khép kín chuyên biệt. Nguồn nguyên liệu được chọn lựa kỹ càng, 100% từ thiên nhiên. Vì thế Caryophy đã cho ra đời các sản phẩm thực sự tiện ích, an toàn và phù hợp với mọi làn da từ da dầu, da khô, da yếu đến da nhạy cảm.</p> <br>

    <p>Với màu sắc đại diện là màu xanh, chúng tôi mang đến cho bạn một phép màu thiên nhiên cùng thành phần ưu việt thổi hồn vào từng sản phẩm mang tên Caryophy. Với hy vọng mang đến những tinh túy quý báu từ thiên nhiên, nhằm nâng niu, chở che làn da của những quý khách hàng đã tin tưởng và lựa chọn Caryophy.</p>
    <p>Có mặt trên thị trường Hàn Quốc và đứng vững hơn 10 năm qua, vào năm 2017 tất cả các sản phẩm đã được <strong>Caryophy</strong> phân phối độc quyền tại Việt Nam<strong>.</strong> <strong>Caryophy</strong> mong muốn mang đến những giải pháp làm đẹp thực sự chất lượng, đáp ứng đúng nhu cầu của tất cả người dùng. Dù bạn là ai từ học sinh, sinh viên đến nhân viên văn phòng, nội trợ hay những siêu sao, ca sĩ nổi tiếng đều có thể an tâm sử dụng.</p>
    <h3><strong>Logo của Caryophy</strong></h3>
    <p>Logo của Caryophy bao gồm 2 yếu tố: cành lá được ôm lấy bởi một vòng cung. Trong đó:</p>
    <ul class="li-content">
        <li>Cành lá tượng trưng cho sự tinh khiết, sự lan tỏa và bừng nở của thiên nhiên.</li>
        <li>Vòng tròn bao bọc xung quanh tượng trưng cho đất, Trái đất cũng như sự bao bọc, chở che.</li>
    </ul>
    <h3><strong>Tầm nhìn Caryophy hướng tới</strong></h3>
    <p>Caryophy trở thành thương hiệu dẫn đầu cho những xu hướng chăm sóc da và thị trường làm đẹp tại Việt Nam với những sản phẩm uy tín, chất lượng và đặc biệt an toàn cho làn da.</p>
    <h3><strong>Sứ mệnh Caryophy tại Việt Nam</strong></h3>
    <p>Với từng sản phẩm của <strong>Caryophy</strong> hoàn toàn chiết xuất từ thành phần thiên nhiên dịu nhẹ, an toàn là kim chỉ nam hàng đầu, nuôi dưỡng làn da từ sâu bên trong kể cả làn da nhạy cảm nhất.</p>
    <h3>Những chiến binh mang tên thương hiệu Caryophy</h3>
    <p><strong>Serum Caryophy Portulaca Ampoule</strong> – giải quyết nổi lo về mụn: xử lý những nốt mụn thâm đáng ghét, giúp kháng viêm, làm khô nhân mụn để thúc đẩy quá trình đẩy mụn nhanh hơn.</p>
    <p><strong>Sữa rửa mặt Caryophy Portulaca Cleansing Foam</strong> : giúp loại bỏ các tạp chất, bụi bẩn, bã nhờn,… dồn nén lâu ngày gây bít tắc lỗ chân lông.</p>
    <p><strong>Toner Caryophy Portulaca</strong>: giúp cân bằng da và cấp ẩm tức thì để làm dịu làn da sưng đỏ vì mụn.</p>
    <p>Mặt nạ trị mụn, trị thâm <strong>Caryophy Portulaca Mask Sheet</strong>: cung cấp đủ độ ẩm và dưỡng chất cần thiết để nuôi dưỡng làn da, tạo lớp màng bảo vệ giúp da tránh viêm nhiễm và trị mụn hiệu quả.</p>
    <p>Nước tẩy trang thông minh <strong>Caryophy Smart Cleansing</strong>: tẩy sạch dịu nhẹ lớp makeup, lấy đi lớp da chết có trên bề mặt, hỗ trợ ngăn ngừa mụn trên da.</p>
    <p>Kem dưỡng trắng da body <strong>Caryophy Glass Skin</strong>: Mang 3 công dụng hoàn hảo trong việc chăm sóc da mỗi ngày: nâng tone da tức thì, sữa tắm trắng da, kem dưỡng da ngày và đêm.</p>
    <h3><strong>Thành phần Caryophy – tinh hoa thiên nhiên vỗ về làn da bạn</strong></h3>
    <p>Được biết đến là thương hiệu dưỡng da dành cho da mụn, các thành phần cốt lõi trong từng sản phẩm của <strong>Caryophy</strong> đều từ thiên nhiên cùng công thức độc quyền chữa lành các làn da đang bị mụn, nuôi dưỡng và giúp da khỏe khoắn hơn</p>
    <p>Rau Má: đây là loại rau dân dã, thân thuộc trong mỗi bữa cơm người Việt. Từ xưa, rau má được biết đến như một loại thảo dược lành tính, mát gan. Tinh chất rau má có khả năng trị mụn, trị viêm cực kì hiệu quả, bên cạnh đó là hàng loạt dưỡng chất và vitamin thiết yếu như: Beta carotene, Sterol, Saponin, Canxi, Sắt, Kẽm, các loại vitamins B1, B2, B3, C, K…</p>
    <p>Rau Sam: được xem là thần dược dưỡng trắng trong mỹ phẩm. Loại rau thân quen này cung cấp lượng vitamin A, B1, B2, C… cực kì dồi dào cho cơ thể. Từ nó dưỡng trắng sâu từ bên trong cho vẻ ngoài bật tone trắng hồng rực rỡ.</p>
    <p>Lá Nhân Trần: là loại thảo dược quen thuộc trong Đông y, có tính mát, có vị ngọt, khả năng kháng viêm, trị thâm hiệu quả.</p>
    <p>Glycerin: cấp ẩm cho da, ngăn ngừa lão hóa , loại bỏ bụi bẩn , làm mềm da</p>
    <p>Tinh dầu Hoa la Mã: giảm nhăn da, cung cấp vitamin E cho da, Giúp đẩy nhanh quá trình chữa lành da, ngăn ngừa viêm da, làm dịu da, giảm ngứa và làm giảm những vết mẩn đỏ</p>
    <p>Tinh dầu sả Madagascar: làm dịu ngay các vết mẩn đỏ, se khít lỗ chân lông trên bề mặt da hiệu quả, ngăn chặn và làm mờ các sắc tố nám mới hình thành. Có khả năng làm chậm quá trình lão hóa</p>
    <p>Tinh chất cây Mía: có các loại axit alpha hydroxy (gọi tắt là AHA) rất tốt cho da và giúp bạn duy trì làn da khỏe đẹp với độ ẩm thích hợp. Bên cạnh đó, nước mía có khả năng chống mụn, chống sưng, chống lão hóa, dưỡng ẩm và đặc biệt còn làm trắng da</p>
    <p>Chiết xuất nhân sâm: cấp nước cho da, tái tạo tế bào da, chống oxy hóa, detox cho da, giúp da trắng sáng.</p>
    <p>Chiết xuất chùm ngây: chứa sitokinin làm da khỏe mạnh, vitamin C chống lão hóa.</p>
    <p>Cùng nhiều dưỡng chất lành tính khác, mang lại sự hoàn hảo trong công thức dưỡng da của Caryophy. Bạn hoàn toàn có thể an tâm sử dụng mà không lo sợ làn da bị kích ứng, mẩn đỏ như khi sử dụng các loại mỹ phẩm nhiều chất hóa học công nghiệp khác.</p>
    <h3><strong>Tại sao Caryophy được chọn là người bạn đồng hành cho phái đẹp?</strong> Giá trị Caryophy mang lại cho bạn ngoài thương hiệu</h3>
    <ul class="li-content">
        <li><strong>Caryophy</strong> là sản phẩm chính hãng 100%, được nhập khẩu trực tiếp tại Hàn Quốc.</li>
        <li>Sản phẩm Caryophy cực kì an toàn, lành tính, không gây kích ứng da, tự hào là dòng mỹ phẩm thiên nhiên hàng đầu có mặt tại thị trường Việt Nam.</li>
        <li>Hiệu quả nhanh chóng tức thì chỉ sau 1 tuần sử dụng, cải thiện làn da rõ rệt sau khi sử dụng xong sản phẩm.</li>
        <li>Đội ngũ tư vấn tận tình, ngoài việc chia sẻ các kiến thức về sản phẩm còn cung cấp thêm nhiều kiến thức, tips làm đẹp hữu ích cho bạn.</li>
        <li>Bất kỳ sản phẩm của Caryophy gặp lỗi do nhà sản xuất, chúng tôi sẵn sàng thực hiện đổi trả miễn phí hoặc hoàn toàn bộ số tiền đã mua cho quý khách.</li>
        <li>Nhận được sự tin dùng của hơn 100.000 người dùng Việt Nam, trong đó có cả các Beauty Blogger, người mẫu, diễn viên, ca sĩ nổi tiếng.</li>
    </ul>
    <h3><strong>Giấy chứng nhận kiểm duyệt các sản phẩm mang thương hiệu Caryophy</strong></h3>
    <p>Tất cả bảng thành phần của <strong>Caryophy </strong>đều đạt chuẩn “An toàn cho sức khoẻ” và “Mức độ nguy hại thấp nhất” được đặt ra bởi Environmental Working Group (EWG)</p>
    <p>EWG tiến hành phát triển Skin Deep – cơ sở dữ liệu về an toàn mỹ phẩm dựa trên thông tin của hơn 79.000 sản phẩm, 50 cơ sở dữ liệu về độc dược &amp; các quy định trong ngành. EWG cho phép người dùng đánh giá mức độ an toàn của các sản phẩm chăm sóc cá nhân bằng điểm số dựa trên thành phần sản phẩm.</p>
    <p>Bên cạnh đó, sản phẩm của <strong>Caryophy</strong> đã qua vòng kiểm tra nghiêm ngặt từ Sở Y Tế Việt Nam và đã được cấp giấy kiểm định, chứng nhận hợp quy hoàn toàn an toàn cho người sử dụng.</p>
    <div class="df">
        <div class="">
            <img src="../img/introduce-10.png" alt="">
        </div>
        <p> <strong>Phiếu công bố sản phẩm Caryophy Portulaca Toner</strong> </p>
        <div class="">
            <img src="../img/introduce-11.png" alt="">
        </div>
        <p> <strong>Phiếu công bố sản phẩm Caryophy Portulaca Mask Sheet</strong> </p>
        <div class="">
            <img src="../img/introduce-12.png" alt="">
        </div>
        <p> <strong>Phiếu công bố sản phẩm Caryophy Portulca Ampoule</strong> </p>
        <div class="">
            <img src="../img/introduce-13.png" alt="">
        </div>
        <p> <strong>Phiếu công bố sản phẩm Caryophy Glass Skin In Shower Body Tone-up Cream</strong> </p>
    </div>
    <script src="/js/buy_product.js"></script>
</div>

<%- include('partials/footer') %>

