<%- include('partials/index', { title: 'Products', cssFileName: 'products' }) %>
<div class="body">
    <div class="main">
        <%- include('partials/buy_product/list_product') %>
        <div class="products" id="content">
            <div class="product-items">
                <!-- Display product item -->
            </div>
            
            <div class="button-container">
                <button onclick="chuyenNoiDung(1)" class="active">1</button>
                <button onclick="chuyenNoiDung(2)">2</button>
                <button onclick="chuyenNoiDung(2)">3</button>
                <button onclick="chuyenNoiDung(2)">4</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/buy_product.js"></script>
<%- include('partials/footer') %>