<footer>
  <div class="main-footer">
      <div class="footer-box1">
          <ul>
              <h2 class="widgettitle">Về chúng tôi</h2>
              <li><a href=""><i class="fa-sharp fa-solid fa-angle-right" style="color: #07724C;"></i>Những Câu Hỏi Thường Gặp</a></li>
              <li><a href=""><i class="fa-sharp fa-solid fa-angle-right" style="color: #07724C;"></i>Giấy Chứng Nhận</a></li>
              <li><a href=""><i class="fa-sharp fa-solid fa-angle-right" style="color: #07724C;"></i>Vì sao chọn Caryophy? Thông tin về chúng tôi</a></li>
              <li id="media_image-3" class="widget widget_media_image"><img width="220" height="83" src="http://mypham10.maugiaodien.com/wp-content/uploads/2022/07/bocongthuong-tach-nen.png" class="image wp-image-2349  attachment-full size-full" alt="" loading="lazy" style="max-width: 100%; height: auto;" /></li></ul>
          </ul>   
      </div>
      <div class="footer-box1">
          <ul>
              <h2 class="widgettitle">Hướng dẫn</h2>
              <li><a href=""><i class="fa-sharp fa-solid fa-angle-right" style="color: #07724C;"></i>Chính Sách Bảo Mật Thông Tin</a></li>
              <li><a href=""><i class="fa-sharp fa-solid fa-angle-right" style="color: #07724C;"></i>Chính Sách Bảo Hành</a></li>
              <li><a href=""><i class="fa-sharp fa-solid fa-angle-right" style="color: #07724C;"></i>Chính Sách Đổi Trả Và Hoàn Tiền</a></li>
              <li><a hr
                  ef=""><i class="fa-sharp fa-solid fa-angle-right" style="color: #07724C;"></i>Chính Sách Thanh Toán</a></li>
          </ul>   
      </div>
      <div class="footer-box1">
          <ul>
              <h2 class="widgettitle">Hệ Thống</h2>
              <li><a href=""><i class="fa-sharp fa-solid fa-angle-right" style="color: #07724C;"></i>Đối Tác Online</a></li>
              <li><a href=""><i class="fa-sharp fa-solid fa-angle-right" style="color: #07724C;"></i>Hệ Thống Cửa Hàng Toàn Quốc</a></li>
              
          </ul>   
      </div>
      <div class="footer-box1">
          <ul class="nae">
              <h2 class="widgettitle">Địa chỉ</h2>
              <p>Tổng đại lý Caryophy miền Trung</p>
              <li><a href=""><i class="fa-sharp fa-solid fa-location-dot" style="color: #fdfcfc;"></i>Địa chỉ : Thôn 4, Vĩnh Thịnh - Vĩnh Lộc - Thanh Hóa</a></li>
              <li><a href=""><i class="fa-sharp fa-solid fa-envelope" style="color: #f5f5f5;"></i>Email: se.anh.nguyenduc@gmail.com</a></li>
              <li><a href=""><i class="fa-sharp fa-solid fa-phone-flip" style="color: #ffffff;"></i>Hotline: (+84) 981.402.765</a></li>
              <li><a href=""><i class="fa-solid fa-globe" style="color: #ccd0d7;"></i>Website: charmybeauty.com</a></li>
          </ul>   
      </div>
  </div>
  <div class="extra-footer">
      <p>© Bản quyền </p>
  </div>
</footer>